 <div class="rounded-xl shadow-sm bg-white p-5 flex flex-col gap-1 border border-gray-100">
      <!-- <i *ngIf="icon" class="pi text-3xl mb-2" [ngClass]="icon"></i> -->
      <p-avatar icon="pi pi-user" class="mr-2 shadow-[0_4px_6px_-4px_rgba(0,0,0,0.1),0_10px_15px_-3px_rgba(0,0,0,0.1)]" size="large"  [style.backgroundColor]="iconBackgroundColor" [style.color]="iconColor" />
      <h2 class="text-3xl font-bold text-gray-900">{{ value }}</h2>
      <p class="text-sm text-gray-500 uppercase tracking-wide">{{ label }}</p>
    
    </div>